# Database
EQSITE_DATABASE_URL=eq-site.db
EQSITE_DB_MAX_CONNECTIONS=8

# Auth
# Generate with: dd if=/dev/urandom bs=64 count=1 2>/dev/null | base64
EQSITE_COOKIE_SIGNING_KEY_B64="AmY5VgtESREw5FBnjHhiW5ZCeuidzYA3i0jGXyf3Cwdetu3ptjGU3RvF+V67gUeeLotHNbFEaI3E50u0QqZywQ=="
# Generate with: dd if=/dev/urandom bs=32 count=1 2>/dev/null | base64
EQSITE_PASSWORD_PEPPER_B64="ADAGkkiFc68jOmwa7BmFqdAyqc7rTQFAPvHTxpb0Lbw="
EQSITE_PASSWORD_HASH_LENGTH=32
EQSITE_PASSWORD_HASH_ITERATIONS=4
EQSITE_PASSWORD_HASH_MEM_COST_KIB=32768
EQSITE_PASSWORD_HASH_THREADS=1
EQSITE_ACCESS_TOKEN_LIFETIME_MINS=15
EQSITE_SIGNIN_TOKEN_LIFETIME_MINS=10
EQSITE_REFRESH_TOKEN_LIFETIME_DAYS=7
EQSITE_SECURE_COOKIES=true
EQSITE_BOOTSTRAP_ADMIN_EMAIL=admin@example.com
EQSITE_TEMP_PASSWORD_LENGTH=16

# Background jobs
EQSITE_RUN_BACKGROUND_TASKS=true
EQSITE_BLACKLIST_CLEANUP_JOB_FREQUENCY_SECS=86400

# Server
EQSITE_BIND_HOST=127.0.0.1
EQSITE_PORT=9000
EQSITE_ACTIX_WORKER_COUNT=4
EQSITE_WEB_PATH=./web
EQSITE_LOG_LEVEL=info
EQSITE_LOG_PATH=./logs
EQSITE_MAX_PASSWORD_LENGTH=1024
EQSITE_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:9000,http://127.0.0.1:9000

# TLS
# EQSITE_TLS_CERT_PATH=/path/to/cert.pem
# EQSITE_TLS_KEY_PATH=/path/to/key.pem

# Proxy/rate limiting
EQSITE_PEER_IP_USE_X_FORWARDED_FOR=false
EQSITE_RATE_LIMITER_CLEAR_FREQUENCY_HOURS=24
EQSITE_RATE_LIMITER_WARN_EVERY_OVER_LIMIT=50
EQSITE_LIGHT_AUTH_FAIR_USE_LIMITER_MAX_PER_PERIOD=16
EQSITE_LIGHT_AUTH_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSITE_HEAVY_AUTH_FAIR_USE_LIMITER_MAX_PER_PERIOD=8
EQSITE_HEAVY_AUTH_FAIR_USE_LIMITER_PERIOD_SECS=120
EQSITE_CREATE_FAIR_USE_LIMITER_MAX_PER_PERIOD=20
EQSITE_CREATE_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSITE_POST_FAIR_USE_LIMITER_MAX_PER_PERIOD=2
EQSITE_POST_FAIR_USE_LIMITER_PERIOD_SECS=600
EQSITE_SURVEY_RESPONSE_FAIR_USE_LIMITER_MAX_PER_PERIOD=1
EQSITE_SURVEY_RESPONSE_FAIR_USE_LIMITER_PERIOD_SECS=600
EQSITE_READ_FAIR_USE_LIMITER_MAX_PER_PERIOD=120
EQSITE_READ_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSITE_UPDATE_FAIR_USE_LIMITER_MAX_PER_PERIOD=40
EQSITE_UPDATE_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSITE_DELETE_FAIR_USE_LIMITER_MAX_PER_PERIOD=20
EQSITE_DELETE_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSITE_LIGHT_AUTH_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=2000
EQSITE_LIGHT_AUTH_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSITE_HEAVY_AUTH_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=200
EQSITE_HEAVY_AUTH_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSITE_CREATE_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=3000
EQSITE_CREATE_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSITE_READ_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=5000
EQSITE_READ_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSITE_UPDATE_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=3500
EQSITE_UPDATE_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSITE_DELETE_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=2500
EQSITE_DELETE_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
