# Database
EQSHARING_DATABASE_URL=eq-sharing.db
EQSHARING_DB_MAX_CONNECTIONS=8

# Auth
# Generate with: dd if=/dev/urandom bs=64 count=1 2>/dev/null | base64
EQSHARING_COOKIE_SIGNING_KEY_B64="AmY5VgtESREw5FBnjHhiW5ZCeuidzYA3i0jGXyf3Cwdetu3ptjGU3RvF+V67gUeeLotHNbFEaI3E50u0QqZywQ=="
EQSHARING_PASSWORD_HASH_LENGTH=32
EQSHARING_PASSWORD_HASH_ITERATIONS=4
EQSHARING_PASSWORD_HASH_MEM_COST_KIB=32768
EQSHARING_PASSWORD_HASH_THREADS=1
EQSHARING_ACCESS_TOKEN_LIFETIME_MINS=15
EQSHARING_SIGNIN_TOKEN_LIFETIME_MINS=10
EQSHARING_REFRESH_TOKEN_LIFETIME_DAYS=7
EQSHARING_SECURE_COOKIES=true
EQSHARING_BOOTSTRAP_ADMIN_EMAIL=admin@example.com
EQSHARING_TEMP_PASSWORD_LENGTH=16

# Background jobs
EQSHARING_RUN_BACKGROUND_TASKS=true
EQSHARING_BLACKLIST_CLEANUP_JOB_FREQUENCY_SECS=86400

# Server
EQSHARING_BIND_HOST=127.0.0.1
EQSHARING_PORT=9000
EQSHARING_ACTIX_WORKER_COUNT=4
EQSHARING_LOG_LEVEL=info
EQSHARING_LOG_PATH=./logs
EQSHARING_MAX_PASSWORD_LENGTH=1024
EQSHARING_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:9000,http://127.0.0.1:9000

# TLS
# EQSHARING_TLS_CERT_PATH=/path/to/cert.pem
# EQSHARING_TLS_KEY_PATH=/path/to/key.pem

# Proxy/rate limiting
EQSHARING_PEER_IP_USE_X_FORWARDED_FOR=false
EQSHARING_RATE_LIMITER_CLEAR_FREQUENCY_HOURS=24
EQSHARING_RATE_LIMITER_WARN_EVERY_OVER_LIMIT=50
EQSHARING_LIGHT_AUTH_FAIR_USE_LIMITER_MAX_PER_PERIOD=16
EQSHARING_LIGHT_AUTH_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSHARING_HEAVY_AUTH_FAIR_USE_LIMITER_MAX_PER_PERIOD=8
EQSHARING_HEAVY_AUTH_FAIR_USE_LIMITER_PERIOD_SECS=120
EQSHARING_CREATE_FAIR_USE_LIMITER_MAX_PER_PERIOD=20
EQSHARING_CREATE_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSHARING_POST_FAIR_USE_LIMITER_MAX_PER_PERIOD=2
EQSHARING_POST_FAIR_USE_LIMITER_PERIOD_SECS=600
EQSHARING_SURVEY_RESPONSE_FAIR_USE_LIMITER_MAX_PER_PERIOD=1
EQSHARING_SURVEY_RESPONSE_FAIR_USE_LIMITER_PERIOD_SECS=600
EQSHARING_READ_FAIR_USE_LIMITER_MAX_PER_PERIOD=120
EQSHARING_READ_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSHARING_UPDATE_FAIR_USE_LIMITER_MAX_PER_PERIOD=40
EQSHARING_UPDATE_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSHARING_DELETE_FAIR_USE_LIMITER_MAX_PER_PERIOD=20
EQSHARING_DELETE_FAIR_USE_LIMITER_PERIOD_SECS=30
EQSHARING_LIGHT_AUTH_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=2000
EQSHARING_LIGHT_AUTH_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSHARING_HEAVY_AUTH_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=200
EQSHARING_HEAVY_AUTH_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSHARING_CREATE_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=3000
EQSHARING_CREATE_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSHARING_READ_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=5000
EQSHARING_READ_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSHARING_UPDATE_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=3500
EQSHARING_UPDATE_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
EQSHARING_DELETE_CIRCUIT_BREAKER_LIMITER_MAX_PER_PERIOD=2500
EQSHARING_DELETE_CIRCUIT_BREAKER_LIMITER_PERIOD_SECS=60
